* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img {
  height: 60px;
}
.menu a{
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
}
nav a{
  font-weight: 600;
  padding-right: 20px;
  color: black;
}
nav a:hover {
  background-color: #1a3f64;
}
.banner {
  height:fixed;
  margin: 0;
  padding: 0;
}
.imag4{
display: none;
}
.section1{
  margin: 0;
  background-color:rgb(74, 95, 216);
}
.section2{
  background-color:rgb(74, 95, 216) ;
}
.imagen{
  height: 250px;
}
.container{
  background-color: rgb(74, 95, 216);
  padding: 10px;
  display: flex;
  justify-content:space-between;
}
.container2{
  background-color: rgb(74, 95, 213);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.container3{
  background-color: rgb(74, 95, 218);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.letra{
  color: rgb(0, 0, 0);
  margin-right: 200px;
}
.titulos{
  padding: 10px;
  background-image:url(../IMAGENES/bg2.avif);
  color: #efefef;
 
}
.titulo3{
  color:darkblue
}
.titulos h1{
  padding-left: 40px;
}
.imag{
  height: 400px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}
.container4{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(lightblue,skyblue,blue);
}
.container5{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(lightblue,skyblue,blue);
}
.container6{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: radial-gradient(lightblue,skyblue,blue);
}
.container7{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(lightblue,skyblue,blue);
}
.container8 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(lightblue,rgb(89, 109, 197),blue);
}
.container9{
  display: flex;
  gap: 15px;
}
.containerr{
  display: flex;
  padding-left: 10px;
}
.estadio{
  height: 450px;
  padding: 15px;
  border-radius: 20px;
}
.parrafo1{
  font-size:large;
  color: rgb(43, 65, 138);
}
.parrafo2{
  font-size: large;
  color:rgb(32, 44, 82) ;
}
.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:150px;
  padding: 25px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}
.imag1 {
  height:100px;
  transform: rotate(0deg);
  transition: all 2s;
}
.imag1:hover {
  transform: rotate(360deg);
}
.imag2 {
  height: 45px;
}
.d-item {
  height: 600px;
}
.d-img {
  height: 100%;
  object-fit: cover;
}
.imag3 {
  transform: rotate(0deg);
  transition: all 2s;
}
.imag3:hover {
  transform: rotate(360deg);
}
@media screen and (max-width:800px){
  .container{
    flex-direction: column;
  }
  .container2{
    flex-direction: column;
  }
  .container3{
    flex-direction: column;
  }
  .container4{
    flex-direction: column;
  }
  .container5{
    flex-direction: column;
  }
  .container6{
    flex-direction: column;
  }
  .container7{
    flex-direction: column;
  }
  .container8{
    flex-direction: column;
  }
  .container9{
    flex-direction: column;
  }
  .imag5{
    display: none;
  }
  .imag4{
    display:block;
  }
}